.navbar {
    background-color: #f2f2f2;
    color: black;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    gap: 20px;
    overflow: hidden;
}

.siteName {
    color: #b6b09f;
    font-weight: bold;
    font-size: 24px;
    white-space: nowrap;
}

.siteLogo {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.marqueeWrapper {
    flex: 1;
    overflow: hidden;
    position: relative;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.marquee {
    display: inline-block;
    white-space: nowrap;
    padding-left: 100%;
    animation: scroll-left 12s linear infinite;
    font-size: 16px;
    color: #393e46;
}

.marquee:hover {
    animation-play-state: paused;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.navLinks {
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.navLinks a {
    color: #b6b09f;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.navLinks a:hover {
    color: #ffb703;
}
