header {
    text-align: center;
}

.main-table {
    background-color: black;
    width: 800px;
}

.main-table thead {
    background-color: gray;
}

.main-table tbody {
    background-color: white;
}

.main-table td {
    padding: 10px;
    text-align: center;

}