body {
    background-image: url(./background.jpg); 
    background-size: cover; 
    
}

.tasks-form{
    background-image: url(./linesbook.jpg);
    background-size: cover;
    border-radius: 10px;
    border: 2px solid black;
}

.page-header-text{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bolder;
    color: white; 
    text-shadow: 
        -3px -3px 0 black,  
         3px -3px 0 black,
        -3px  3px 0 black,
         3px  3px 0 black; 
}