/* =========[Whole body]========= */
body {
    background-image: url("./home_light.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* =========[navbar]========= */
#navbarDiv img {
    max-height: 40px;
    background-color: transparent;
}

#searchInput {
    width: 200px;
}

/* =========[container]========= */
#loaderWrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

#errorOutput {
    color: red;
    font-weight: bold;
    font-size: large;
}

#coinsContent,
#trackerContent {
    gap: 2px;
}

.container h1 {
    color: black;
}

.container h2 {
    color: grey;
}

/* =========[coin image]========= */
.coinIcon {
    width: 4rem;
    height: 4rem;
}

.collapseStyle {
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

/* =========[live chart]========= */
.chart-wrapper {
    height: 70vh;
    width: 100%;
}

.chartStyle {
    border: 1px solid black;
    border-radius: 10px;
}
