/* =========[Whole body]========= */
body {
    background-image: url("./home_light.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* =========[navbar]========= */
#navbarDiv img {
    max-height: 40px;
    background-color: transparent;
}

#searchInput {
    width: 200px;
}

/* =========[container]========= */
#loaderWrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

#errorOutput {
    color: red;
    font-weight: bold;
    font-size: large;
}

#coinsContent,
#trackerContent {
    gap: 2px;
}

.container h1 {
    color: black;
}

.container h2 {
    color: grey;
}

/* =========[coin image]========= */
.coinIcon {
    width: 4rem;
    height: 4rem;
}

.collapseStyle {
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

/* =========[live chart]========= */
.chart-wrapper {
    height: 70vh;
    width: 100%;
}

.chartStyle {
    border: 1px solid black;
    border-radius: 10px;
}

/* =========[about page]========= */
.about-me-block {
    background-color: rgba(248, 248, 231, 0.2);
    border: 1px solid rgba(128, 128, 128, 0.205);
    border-radius: 10px;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.about-me-block img {
    width: 150px;
    gap: 10px;
}

/* #aboutProject {
    width: 60vh;
    border: 1px solid black;
    border-radius: 7px;
} */

.infoBlock {
    border: 1px solid black;
    border-radius: 7px;
    padding: 10px;
}

.about-block {
    width: 280px;
    min-height: 300px;
    text-align: center;
    background-color: rgba(248, 248, 231, 0.2);
    border: 1px solid rgba(128, 128, 128, 0.205);
    border-radius: 10px;
}

.about-block ul {
    text-align: left;
    margin: 0 auto;
    display: inline-block;
}
